@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.brand {margin-top: -7px;}
.brand span {

  color: rgb(188, 218, 55);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2mm
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li {
    list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px

}

.menu .active {
  color: rgb(188, 218, 55);
}

.menu a:hover {
  background-color: rgb(188, 218, 55);
  color: #191c32;
  transition: ease-in-out .3s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

h1 {
  font-size: 3rem;
}

span {
  color: rgb(188, 218, 55);
}

.download-cv {
  padding: 10px 20px;
  background-color:rgb(188, 218, 55);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px 5px rgba(188,218,55, .2);
}

.download-cv:hover {
  box-shadow: none;
  background-color: white;
}

.main img {
  width: 350px;
  border: 7px solid rgb(188,218,55);
  height: 500px;
  margin-top: 30px;
}

.about {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #191c32;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.portfolio-headings {
  width: 100vw;
  justify-content: center;
  padding: 5em;
}

.portfolio {
    background-color: #191c32;
    width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.portfolio-headings h2 {
  font-size: 2em;
}

.portfolio .container {
width: 80vw;
height: 80vh;
margin: 0 auto; 
display: flex;
justify-content: center; 
}

.card {
  width: 300px;
  background-color: #24274e;
  height: 350px;
 color: #fff;
 margin:1em;
}

.card_img {
  width: 100%;
  height: 150px;
  background-image: url(/img/2-original.png);
  background-size: cover;
}

.card_tittle {
  padding: 20px;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.project-links a {
  color: #fff;
  text-decoration: none;
}

.project-links i {
  font-size: 1.5em;
}

.card .project-details-button {
display: flex;
justify-content: center;
margin: auto;

}

.card .project-details-button a {
text-align: center;
}

.proyectos {
  display: flex;
  flex-direction: row;
}

.contact-section {
display: flex;
flex-direction: column;  
align-items: center;
height: 55vh;
padding-top: 30px;

}

.contact-form {
  margin: 1em;
  width: 50vw;
}

.row {
  display: flex;
  flex-direction: row;
  
}

.row input {
  padding: 3px 20px;
  width: 50vw;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.container-contact {
  border: 2px
}

.container-contact textarea {
  margin-top: 10px;
  width: 100%; 
  height: 20vh;
  font-size: 1em;
  font-size: 1em;
  margin-bottom: 10px;
}

.btn-submit {
  padding: 3px;
  width: 300px;
  margin-left: 150px;
  background-color: rgb(188, 218, 55);
  color: #191c32;
  border: none;
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: #191c32;
  color: white;
}

.footer h5 {
  margin-top: 1em;
}
.social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
  margin-top: 1em;
}